chk*
plt*
fast_velocity_data
post_processing
bndry_file.nc
log.amr_wind.*
*.ED.sum
*.HD.sum
*.SD.ech
*.SrvD.sum
*.bak
*.dbg
*.chkp
*.out
demo_case.o*
IEA-15-240-RWT-Monopile.*.out
IEA-15-240-RWT-Monopile.*.sum
.ccls-cache/
.ipynb_checkpoints/
scaling/*/*/*/T*_*
scaling/*/*/*/avg_theta.dat
scaling/*/*/*/demo_case.inp
scaling_*.o*
scaling/*/*/*/out.log
scaling/flat/refine-chk/refine-0/
refiner-*.log
refiner.o*